@import "../../shared";

.header {
  height: 35vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)
  ),
  url('../../../public/images/hydroponic-hero-small.png');
  background-size: cover;
  background-position: top;
  padding-top: 10vh;
  clip-path: polygon(0 0, 100% 0, 100% 30vh, 0 100%);

  &__text-stack {
    text-align: center;
  }
}

.crops-section {
  height: 35vh;
  padding-top: 2vh;

  &__image-stack {
    &--image {
      width: 100%;
      min-height: 12vh;
    }

    &--image-box {
      margin: 1.5vh auto;
      height: 10vh;
      width: auto;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
  }

  &__text-stack {
    &--text {
      font-size: 1rem;
    }

    &--heading {
      text-transform: uppercase;
    }

    &--text-box {
      margin: 0 auto;
      width: 40vw;
    }
  }
}