@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

// Font Variables
$roboto-slab: 'Raleway', serif;
$open-sans: 'Open Sans', sans-serif;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-grey-dark-2: rgb(68, 66, 66);
$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;