$color-primary: #55c57a;

@keyframes identifyHover {
  0% {
    letter-spacing: 0.25rem;
  }
  25% {
    letter-spacing: 0.5rem;
  }
  50% {
    letter-spacing: 0.5rem;
  }
  100% {
    letter-spacing: 0.25rem;
  }
}

.nav-text-main:link,
.nav-text-main:visited {
  text-decoration: none;
  color: $color-primary;
  font-size: 2rem;
  letter-spacing: 0.25rem;
}

.nav-text-main:hover {
  letter-spacing: 0.25rem;
  animation-name: identifyHover;
  animation-duration: 1s;
}
